* {
  margin: 0px;
  padding: 0px;
}

div#header {
  padding: 1.5em;
  font-size: 1em;
  background-color: #7C73FF;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 1.05em;
}

div#all {
  height: 100%;
}

div#body {
  height: 100%;
  overflow: hidden;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  margin-bottom: 0.25em;
}

ul#topnavigation {
  padding-left: 12.5em;
}

ul#topnavigation li {
  display: inline-block;
  margin-left: 0.75em;
  margin-right: 0.75em;
}

div#header ul {
  margin-left: 0.5em;
}

div#header a {
  color: blue;
  text-decoration: none;
}

a.nodeco {
  text-decoration: none;
}

ul#usefulpages {
  margin-left: 1.5em;
}

div#page {
  margin-top: 1em;
  padding-left: 3em;
  padding-right: 3em;
  overflow: hidden;
}

div#navigation {
  font-size: 0.875em;
  height: 100%;
  float: left;
}

div#navigation ul {
  list-style-type: none;
  min-width: 15em;
  padding-right: 1em;
  padding-top: 3.5em;
  margin-left: 7.5em;
  border-right: 0.4em solid #000;
  height: 100%;
}

div#navigation a {
  text-decoration: none;
  font-weight: 600;
  color: #666666;
}

div#navigation li.navigationheader {
  font-weight: bold;
  font-size: 1.3em;
  color: #000000;
  margin-top: 0.75em;
  margin-bottom: 0.4em;
  padding-left: 0.3em;
}

p.codeblock {
  background-color: #F3F5F7;
  font-family: ui-monospace, SFMono-Regular, SFMono, Menlo, Consolas, Liberation, Mono, monospace;
  border-radius: 6px;
  font-size: 90%;
  line-height: 1.45;
  overflow: auto;
  padding: 10px;
  margin: 0.25em 0 0.25em 0;
}

p.codeblock span.keyword {
  color: #D73A49;
}

p.codeblock span.comment {
  color: #6A737D;
}

p.codeblock span.class {
  color: #005CC5;
}

p.codeblock span.string {
  color: #032F62;
}

span.codeblock {
  background-color: #F3F5F7;
  font-family: ui-monospace, SFMono-Regular, SFMono, Menlo, Consolas, Liberation, Mono, monospace;
  border-radius: 6px;
  font-size: 90%;
  overflow: auto;
  padding: 2px;
}

li.header {
  list-style-type: none;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  margin-left: -0.5em;
  color: black;
  font-weight: bold;
  font-size: 2em;
}
