div#header {
  margin: 0px;
  height: 3.5em;
  font-size: 0.75em;
  background-color: purple;
  padding: 0px;
}

#header h1 {
  vertical-align: middle;
}

#body {
  width: 40em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
}

#all {
  width: 100%;
  margin: 0px;
  margin-top: -1.5em;
  padding: 0px;
}

li#navigation {
  display: inline-block;
}

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
